.carrinhodecompras {
    margin-left: 1125px;
    margin-top: -125px;
    width: 200px;
    height: 300px;
    padding: 10px;
   
}
.Caixa1 {
    margin-left: 50px;
    margin-top: -200px;
   
    margin-bottom: 20px;
    
}
.Caixa2 {
    margin-left: 285px;
    margin-top: -243px;
}
.Caixa3 {
    margin-left: 540px;
    margin-top: -235px;
    
}
.Caixa6 {
    margin-left: 40px;
    margin-top: 30px;
}
.Caixa7 {
    margin-left: 270px;
    margin-top: -237px;
}
.Caixa8 {
    margin-left: 540px;
    margin-top: -237px;
}
.anuncio {
    margin-left: 900px;
    margin-top: -450px;
    
}